

body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-image: url("../img/ass.jpg");
    background-size: cover;
    background-position: center, center;

    /* Full height */
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: inherit;

    /* Center and scale the image nicely */
}

h1{
    font-size:4vw;
}


#row2{
    border-radius: 25px;
    margin-top: 300px;
    height: 30%;
    width: 300px;
    background:#0f6674;
    /*margin-left: 5px;*/

}



 /*Medium devices (tablets, 768px and up)*/
@media (max-width: 885px) {
    body{

        background-repeat: no-repeat;
        background-image: url("../img/small-ass--bk.jpg");
        background-size: cover;
        background-position: center, center;
        /* Full height */
        height: 100vh;
        width: 100%;
        opacity: 1;
        visibility: inherit;

    }


 p{
     font-size: small;
 }

    #row2{

        display: none;

    }

    #row-main{
        align-content: center;
        background:red;
        height: 35%;
    }

    #mobileText{
        align-content: center;
        margin-top: 400px;
        height: 35%;
        width: 1000px;

        background:#0f6674;
    }

}

@media (min-width: 885px){

    #mobileText{
        align-content: center;
        margin-top: 50px;
        height: 35%;
        width: 1000px;

        background:red;
        display: none;

    }


}



