
ul#menu{
  //text-align: center;

  li.nav-item{
    a{
      color: white;
    }
  }
}

#menuLabel{
  visibility: hidden;
}


body{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;




  /* Full height */
  height: 100%;
  width: 100%;
  opacity: 1;
  visibility: inherit;

  /* Center and scale the image nicely */
}

h1{
  font-size:4vw;
}




#mobileText{
  display: none;
}
#slideimage{
  width: 100%;
  height: 100%;
}

#slidertext{
  background-color: rgba(236, 34, 8, 0.62);
  border-radius: 5px;
}
#social{
  color: white;
  font-size: 20px;
}

footer{
  p {
    a {
      color: #28a745;
    }
  }

  i{
    padding: 5px;
    font-size: 20px;
    color: #1e7e34;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 885px) {
  body{

    background-repeat: no-repeat;
    //background-image: url("../img/small-background.jpg");

    background-size: cover;
    background-position: center, center;
    /* Full height */
    height: 100vh;
    width: 100%;
    opacity: 1;
    visibility: inherit;

  }
  #slidertext{
    margin-top: -50px;
    h1{
      font-size: medium;
    }
  }

  h1{
    font-size: xx-large;
    text-align: center;
  }





}


@media (max-width: 991px) {

  #slideimage{

    height: 50%;

  }

  #menuLabel{
    visibility: hidden;
  }

}




